{% load static %}
<!DOCTYPE html>
<html>
  <head>
      <!-- Required meta tags -->
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

      <!-- Bootstrap CSS -->
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

      <link rel="stylesheet" type="text/css" href="{% static 'marketplace/main.css' %}">

      {% if title %}
          <title>Textbook Swap - {{ title }}</title>
      {% else %}
          <title> Textbook Swap</title>
      {% endif %}
  </head>
  <body>
    <nav class="navbar navbar-expand-md navbar-dark bg-steel sticky-top">
      <div class="container">
        <a class="navbar-brand mr-4" href="{% url 'marketplace:index' %}">Home</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarToggle">
          <div class="navbar-nav mr-auto">
        <a class="nav-item nav-link" href="{% url 'marketplace:addListing' %}">Add Listing</a>
        <a class="nav-item nav-link" href="{% url 'marketplace:myListings' %}">My listings</a>
          </div>
          <!-- Navbar Right Side -->
	  {% if hide_search_bar %}
	  {% else %}
	  <form action="{% url 'marketplace:search' %}" class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="query">
            <button class="btn btn-outline-light my-2 my-sm-0" type="submit">Search</button>
          </form>
	  {% endif %}
          {% if user.is_authenticated %}
          <a class="nav-item nav-link"> <strong>Hello, {{user.first_name}} </strong></a>
          <a class="nav-item nav-link btn btn-danger" href="{% url 'marketplace:Signout' %}">Signout</a>
          {% else %}
          <a class="nav-item nav-link" href="{% url "social:begin" "google-oauth2" %}">
          <button class="btn btn-primary" type="submit">Sign In</button>
          </a>
          {% endif %}
        </div>
	  </div>
	</nav>
      
      <main role="main" class="container">
            {% block content %}{% endblock %}
      </main>

  <!-- Footer -->
  <footer id = "footer" class="page-footer font-small blue">
    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">
    TextBookSwapUVA <br>
    © 2020 Copyright:
      <a href="http://textbookswapuva.herokuapp.com/"> textbookswapuva.herokuapp.com</a>
    </div>
    <!-- Copyright -->
  </footer>
  <!-- Footer -->

  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
      <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>
