{% extends 'marketplace/base.html' %}
{% load static %}

{% block content %}
<h1 class="text-white">{{ object.item_name }}</h1>
<div class="text-on-dark-background">
  <p>edition: {{ object.item_edition }}</p>
  <p>by {{ object.item_author }}</p>
  <p>
  {% if object.item_image  %}
    <img src="{{ object.item_image.url }}" id="imgProfile"  style="max-width:20%;" class="img-thubmnail"/>
  {% else %}
  <img src="{% static 'marketplace/images/emptyTextbook.PNG' %}" style="max-width:20%;" id="imgProfile"  class="img-thubmnail"/>
  {% endif %}
  </p>
  <p>${{ object.item_price }}</p>
  <p>{{ object.item_condition }} condition</p>
  <p>Posted {{ object.item_posted_date|date:"SHORT_DATE_FORMAT" }}
  by {{ object.item_seller_name.user.first_name }}
  {{ object.item_seller_name.user.last_name }}</p>
  <p>Used for {{ object.item_course }}</p>
  <p>{{ object.item_description }}</p>
</div>

{% if not user.is_authenticated %}
<form action="{% url 'marketplace:login' %}" class="form-inline my-2 my-lg-0">
  <input type="hidden" name="next" value="{{ request.path }}" />
  <input type="submit" class="btn btn-info btn-lg" value="Contact seller" />
</form>
{% elif request.user == object.item_seller_name.user or user_has_buyer_conversation %}
<a href="{% url 'marketplace:message_list' object.pk %}">
  <button type="button" class="btn btn-info btn-lg">View messages</button>
</a>
{% else %}
<button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#contact">Contact seller</button>
{% endif %}

<div id="contact" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <div class="modal-content">
      <div class="modal-header">
        <h3>Contact</h3>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        <form action="{% url 'marketplace:send_intro' %}" method='POST' class="form-inline my-2 my-lg-0">
          {% csrf_token %}
          <input type="hidden" name="item" value="{{ object.pk }}">
          <div class="container">
            <label for="text">
              Send {{ item.item_seller_name }} a message telling them you're interested in buying "{{ item.item_name }}" and when you're available to make the exchange!
            </label>
            <div class="row">
              <textarea style="width:100%;" id="text" name="message"></textarea>
            </div>
            <div class="row">
              <button class="btn btn-outline-dark my-2 my-sm-0" type="submit">
                send message
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
  
{% endblock %}
