{% extends 'marketplace/base.html' %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-sm">
        <h1 class="display-4">All Listings</h1>
        {% for items in allItems %}
                    <div class="card border-success mb-3" style="max-width: 18rem;">
		    <a href="{% url 'marketplace:item_detail' items.pk %}">
			    <div class="card-header">{{items.item_name}}</div>
		    </a>
                    <div class="card-body text-success">
                    <h5 class="card-title">Posted by {{items.item_seller_name.user.username}}</h5>
                    <p class="card-text">Price: ${{items.item_price}} <br> {{items.item_description}}</p>
                    </div>
                    </div>
        {% endfor %}
    </div>

    <div class="col-sm">
      <h1 class="display-4">My Reviews</h1>
                    <div class="card border-info mb-3" style="max-width: 18rem;">
                    <div class="card-header">Reviewer Name</div>
                    <div class="card-body text-success">
                    <h5 class="card-title">Rating (Out of 5)</h5>
                    <p class="card-text">Review Description</p>
                    </div>
                    </div>
    </div>
    <div class="col-sm">
      <h1 class="display-4">My Listings</h1>
        {% for items in allItems %}
            {% if items.item_seller_name.user.username == user.username %}
                    <div class="card border-warning mb-3" style="max-width: 18rem;">
                    <div class="card-header">{{items.item_name}}</div>
                    <div class="card-body text-success">
                    <h5 class="card-title">Posted by {{items.item_seller_name.user.username}}</h5>
                    <p class="card-text">Price: ${{items.item_price}} <br> {{items.item_description}}</p>
                    </div>
                    </div>
            {%endif%}
        {% endfor %}
    </div>
  </div>
</div>
{% endblock content %}
