{% extends 'marketplace/base.html' %}
{% load static %}
{% block content %}
    <br>
    <br>
    <br>
    {% if error_message %}
        <p align='center' style="color:red;"><strong>{{ error_message }}</strong></p>
    {% else %}
<div class="row">
  <div class="col">
          <h1 class="display-4 text-white">Current Listings</h1>

        {% for items in availableItems %}
            {% if items.item_seller_name.user.username == user.username %}
	      {% include 'marketplace/item_card.html' with item=items %}
	    {%endif%}
        {% endfor %}
  </div>
  <div class="col">
              <h1 class="display-4 text-white">Sold Listings</h1>
        <br>
        <br>
        <br>

        {% for items in soldItems %}
          {% if items.item_seller_name.user.username == user.username %}
	    {% include 'marketplace/item_card.html' with item=items %}
          {%endif%}
        {% endfor %}

  </div>
  <div class="col">
    <h1 class="display-4 text-white">Unavailable Listings</h1>
    {% for items in unavailableItems %}
      {% if items.item_seller_name.user.username == user.username %}
        {% include 'marketplace/item_card.html' with item=items %}
      {%endif%}
    {% endfor %}
  </div>
</div>
    {% endif %}
{% endblock content %}
