{% extends 'marketplace/base.html' %}
{% load static %}
{% block content %}
    <br>
    <br>
    <br>
    {% if error_message %}
        <p align='center' style="color:red;"><strong>{{ error_message }}</strong></p>
    {% else %}
        <div class="list-group">
        <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
        {% for items in allItems %}
            {% if forloop.counter0 >= 1 %}
                <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
            {% endif %}
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">{{items.item_name}}</h5>
                <small>Posted by {{items.item_seller_name.user.username}}</small>
                <small>{{items.item_posted_date}}</small>
            </div>
            <p class="mb-1">{{items.item_description}}</p>
            </a>
        {% endfor %}
        </div>
    {% endif %}
{% endblock content %}