{% extends 'marketplace/base.html' %}

{% block title %}Profile{% endblock %}

{% block content %}

<!-- Modal for Edit Profile-->
<div id="myModal" class="modal fade" role="dialog">
	<div class="modal-dialog">
  
	  <!-- Modal content-->
	  <div class="modal-content">
		<div class="modal-header">
		  <button type="button" class="close" data-dismiss="modal">&times;</button>
		</div>
		<div class="modal-body">
		  <div class="add-Form">
			<form enctype="multipart/form-data" method="POST" action="">
			{% csrf_token %}
			<div class="fieldWrapper">
				{{ form.phoneumber.errors }}
				<label for="{{ form.phonenumber.id_for_label }}">Phone Number:</label>
				{{ form.phonenumber }}
			</div>
			<br>
			<div class="fieldWrapper">
				{{ form.major.errors }}
				<label for="{{ form.major.id_for_label }}">Major:</label>
				{{ form.major }}
			</div>
			<br>
			<div class="fieldWrapper">
				{{ form.year.errors }}
				<label for="{{ form.year.id_for_label }}">Year:</label>
				{{ form.year }}
			</div>
			<br>
			<div class="fieldWrapper">
				{{ form.imagefile.errors }}
				<label for="{{ form.year.id_for_label }}">Upload Image:</label>
				{{ form.imagefile }}
			</div>
			<br>
			<button type="submit" class="btn btn-primary" id="submitButton" name="submitButton">Submit</button>
			</form>
		</div>
		</div>
		<div class="modal-footer">
		  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		</div>
	  </div>
  
	</div>
</div>

<div class="row">
<div class="col-12">
    <div class="card">
	<div class="card-body">
	    <div class="card-title mb-4">
		<div class="d-flex justify-content-start">
		    <div class="image-container">
		       {% if user.profile.imagefile  %}
			    	<img src="{{ user.profile.imagefile.url }}" id="imgProfile" style="width: 150px; height: 150px" class= "img-thubmnail"/>
				{% else %}
			    	<img src="static/marketplace/images/empty-profile.png" id="imgProfile" style="width: 150px; height: 150px" class= "img-thubmnail"/>
				{% endif %}
			<div class="middle">
			    </form>
			   <!--<a href="profile/editprofile" class="btn">Edit</a> -->
			   <button type="button" class="btn btn-info btn-lg" data-toggle="modal" id="editprofile" name="editprofile" data-target="#myModal" >Edit</button>
			</div>
		    </div>
		    <div class="userData ml-3">
			<h2 class="d-block" style="font-size: 1.5rem; font-weight: bold">{{ user }}</h2>
		    </div>
		    <div class="ml-auto">
			<input type="button" class="btn btn-primary d-none" id="btnDiscard" value="Discard Changes" />
		    </div>
		</div>
	    </div>

	    <div class="row">
		<div class="col-12">
		    <ul class="nav nav-tabs mb-4" id="myTab" role="tablist">
			<li class="nav-item">
			    <a class="nav-link active" id="basicInfo-tab" data-toggle="tab" href="#basicInfo" role="tab" aria-controls="basicInfo" aria-selected="true">Basic Info</a>
			</li>
		    </ul>
		    <div class="tab-content ml-1" id="myTabContent">
			<div class="tab-pane fade show active" id="basicInfo" role="tabpanel" aria-labelledby="basicInfo-tab">


			    <div class="row">
				<div class="col-sm-3 col-md-2 col-5">
				    <label style="font-weight:bold;">Full Name</label>
				</div>
				<div class="col-md-8 col-6">
				    {{ user.first_name }} {{ user.last_name }}
				</div>
			    </div>
			    <hr />

			    <div class="row">
				<div class="col-sm-3 col-md-2 col-5">
				    <label style="font-weight:bold;">Email</label>
				</div>
				<div class="col-md-8 col-6">
				    {{ user.email }}
				</div>
			    </div>
			    <hr />

			    <div class="row">
				<div class="col-sm-3 col-md-2 col-5">
				    <label style="font-weight:bold;">Phone Number</label>
				</div>
				<div class="col-md-8 col-6">
				    {{ user.profile.phonenumber }}
				</div>
			    </div>
			    <hr />
			    <div class="row">
				<div class="col-sm-3 col-md-2 col-5">
				    <label style="font-weight:bold;">Major</label>
				</div>
				<div class="col-md-8 col-6">
				    {{ user.profile.major }}
				</div>
			    </div>
			    <hr />
			    <div class="row">
				<div class="col-sm-3 col-md-2 col-5">
				    <label style="font-weight:bold;">Year</label>
				</div>
				<div class="col-md-8 col-6">
				    {{ user.profile.year }}
				</div>
			    </div>
			    <hr />
			</div>
		    </div>
		</div>
	    </div>
	</div>
    </div>
</div>
</div>
{% endblock %}
