<!--
<title>Profile</title>

<div class="container">
    <h1>Profile</h1>
    <p>Username: {{ user }}</p>
    <p>First name: {{ user.first_name }}</p>
    <p>Last name: {{ user.last_name }}</p>
    <p>Email: {{ user.email }}</p>
    <a class="nav-item nav-link" href= "/Signout"> Sign out</a>
</div>
-->

{% load static %}
<!DOCTYPE html>
<html>
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="{% static 'marketplace/main.css' %}">

    <title>Profile</title>

</head>

<body>
    <header class="site-header">
        <nav class="navbar navbar-expand-md navbar-dark bg-steel">
          <div class="container">
            <a class="navbar-brand mr-4" href="{% url 'index' %}">Home</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarToggle">
              <div class="navbar-nav mr-auto">
                <a class="nav-item nav-link" href="{% url 'addListing' %}">Add Listing</a>
                <a class="nav-item nav-link" href="{% url 'index' %}">My listings</a>
              </div>
              <!-- Navbar Right Side -->
              <div class="navbar-nav">
                <form class="form-inline my-2 my-lg-0">
                      <input class="form-control mr-sm-2" type="search" placeholder="Search An Item" aria-label="Search">
                      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                    </form>
                  <a class="nav-item nav-link" href= "/Signout"> Sign out</a>
              </div>
            </div>
          </div>
        </nav>
    </header>
    <main role="main" class="container">
      <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <div class="card-title mb-4">
                        <div class="d-flex justify-content-start">
                            <div class="image-container">
                               <!-- <img src="static/marketplace/images/background.gif" class="profile-pfp"></img>
                                '{{ MEDIA_URL }}{{imagefile}}' static/marketplace/images/empty-profile.png -->
                               <img src="{{ user.profile.imagefile.url }}" id="imgProfile" style="width: 150px; height: 150px" class= "img-thubmnail"/> 
                               <!--<img src="{{ user.profile.imagefile.url }}" class="profile-pfp"></img> -->
                                <div class="middle">
                                   <!--<button class="btn btn-secondary" id="btnChangePicture" value="Change" href="{% url 'editprofile' %}" /> 
                                   <form enctype="multipart/form-data" method="POST" action="">
                                        {% csrf_token %}
                                        {{ form.as_p }}
                                        <input type="submit" value="Upload"/> -->
                                    </form>
                                   <a href="profile/editprofile" class="btn">Edit</a> 
                                </div>
                            </div>
                            <div class="userData ml-3">
                                <h2 class="d-block" style="font-size: 1.5rem; font-weight: bold"><a href="javascript:void(0);">{{ user }}</a></h2>
                                <h6 class="d-block"><a href="javascript:void(0)">0</a> Books Sold </h6>
                            </div>
                            <div class="ml-auto">
                                <input type="button" class="btn btn-primary d-none" id="btnDiscard" value="Discard Changes" />
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12">
                            <ul class="nav nav-tabs mb-4" id="myTab" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" id="basicInfo-tab" data-toggle="tab" href="#basicInfo" role="tab" aria-controls="basicInfo" aria-selected="true">Basic Info</a>
                                </li>
                            </ul>
                            <div class="tab-content ml-1" id="myTabContent">
                                <div class="tab-pane fade show active" id="basicInfo" role="tabpanel" aria-labelledby="basicInfo-tab">
                                    

                                    <div class="row">
                                        <div class="col-sm-3 col-md-2 col-5">
                                            <label style="font-weight:bold;">Full Name</label>
                                        </div>
                                        <div class="col-md-8 col-6">
                                            {{ user.first_name }} {{ user.last_name }}
                                        </div>
                                    </div>
                                    <hr />

                                    <div class="row">
                                        <div class="col-sm-3 col-md-2 col-5">
                                            <label style="font-weight:bold;">Email</label>
                                        </div>
                                        <div class="col-md-8 col-6">
                                            {{ user.email }}
                                        </div>
                                    </div>
                                    <hr />
                                    
                                    <div class="row">
                                        <div class="col-sm-3 col-md-2 col-5">
                                            <label style="font-weight:bold;">Phone Number</label>
                                        </div>
                                        <div class="col-md-8 col-6">
                                            {{ user.profile.phonenumber }}
                                        </div>
                                    </div>
                                    <hr />
                                    <div class="row">
                                        <div class="col-sm-3 col-md-2 col-5">
                                            <label style="font-weight:bold;">Major</label>
                                        </div>
                                        <div class="col-md-8 col-6">
                                            {{ user.profile.major }}
                                        </div>
                                    </div>
                                    <hr />
                                    <div class="row">
                                        <div class="col-sm-3 col-md-2 col-5">
                                            <label style="font-weight:bold;">Year</label>
                                        </div>
                                        <div class="col-md-8 col-6">
                                            {{ user.profile.year }}
                                        </div>
                                    </div>
                                    <hr />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>  
        </div>
      </div>
    </main>

        <!-- Footer -->
<footer id = "footer" class="page-footer font-small blue">

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">
  TextBookSwapUVA <br>
  © 2020 Copyright:
    <a href="http://textbookswapuva.herokuapp.com/"> textbookswapuva.herokuapp.com</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->






    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>


</html>