{% extends 'marketplace/base.html' %}
{% load static %}
{% block content %}
<br>
<br>
<div class="add-Form">
    <form enctype="multipart/form-data" action="" method="post">
    {% csrf_token %}
    {{ form1.as_p }}
<div class="card">
  <div class="card-body text-center bg-secondary">
    <h1 class="card-title text-white">Update Status:</h1>
              <label class="text-white" for="item_status"><b>Status: </b></label>
              <select id="item_status" name="item_status">
                  <option value="Available">Available</option>
                  <option value="Sold">Sold</option>
                  <option value="Hidden">Hidden</option>
              </select>
              <br>
              <br>
          <button type="submit" class="btn btn-success btn-lg">Update</button>
        </form>

</div>
  </div>
</div>

{% endblock content%}